.todoForm {
  background-color: #00bcd4;
  padding: 2rem;
  width: 500px;
  color: #fff;
  border-radius: 5px;
}
.todoForm input {
  width: 76%;
  height: 30px;
  padding-left: 1rem;
  margin-right: 1rem;
  outline: none;
  border: 1px solid #fff;
  border-radius: 5px;
}
.todoForm button {
  height: 35px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
}
